<title>Tracking home</title>
    <meta charset="utf-8">
    <meta name="active-menu" content="<%= menuId %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
    
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */ 
        /* .navbar {
        margin-bottom: 0;
        border-radius: 0;
        } */
        
        /* Add a gray background color and some padding to the footer */
        footer {
            position: fixed;
            background-color: #f2f2f2;
            padding:5px;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
