
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/profile">Tracking Game</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <% if(menuId == "profile"){ %>
                <li class="active"><a href="/profile">Home</a></li>
            <%} else {%>
                <li><a href="/profile">Home</a></li>
            <%}%>
          
            <% if(menuId == "user"){ %>
                <li class="active"><a href="/user">About</a></li>
            <%} else {%>
                <li><a href="/user">About</a></li>
            <%}%>

            <% if(menuId == "tracking"){ %>
                <li class="active"><a href="/tracking">tracking</a></li>
            <%} else {%>
                <li><a href="/tracking">tracking</a></li>
            <%}%>
          <!-- <li id="user"><a href="/user">Contact</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">User
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/account/rePass">Change Password</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </li>

          
        </ul>
      </div>
    </div>
  </nav>

        <!-- <div class="scrollmenu">
                <a href="/">Home</a>
                <a href="/user">User</a>
                <a href="/tracking">Tracking</a>
                <a href="/logout">Logout</a>
              </div> -->

    <!-- <div class="btn-group">
        <a class="btn btn-success" href="/profile" role="button">home</a>
        <a class="btn btn-success" href="/user" role="button">User</a>
        <a class="btn btn-success" href="/tracking" role="button">Tracking</a>
        <a class="btn btn-success" href="/logout" role="button">Logout</a>
    </div> -->

    <!-- <div class="container">
        <ul class="nav nav-tabs">
            <li><a href="/profile">Home</a></li>
            <li><a href="/tracking">Tracking</a></li>
            <li><a href="/user">User</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
    </div> -->
    
    



