<!doctype html>
<html>
<head>
    <% include head%>
</head>
<header>
        <% include headers%>
        
</header>

<body>
        
</body>

<footer class="container-fluid text-center">
        <% include footer%>
</footer>

</html>
