<!doctype html>
<html>

<head>
    <% include head%>
</head>

<header>
    <% include headers%>
</header>

<body>
    <div class="container">
    <h1>     Chọn mục kiểm tra</h1>
    <form action="/tracking" method="post">

        <h4>
            <ul class="list-inline">
                <li><a href="/querys/rp">install</a></li>
                <li><a href="/querys/rp/pkgname">package name</a></li>
                <li><a href="/querys/rpdaily">install daily</a></li>
                <li><a href="/querys/rpoption">report option</a></li>
            </ul>
        </h4>
    </form> 
   
</div>
</body>

<!-- <footer class="container-fluid text-center">
        <% include footer%>
</footer> -->

</html>